html, css {
	margin: 0;
	padding: 0;
}
.wrapper {
	background-color: #fff;
	width: 900px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%) scale(1);
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	line-height: 120%;
    border: 2px solid #333;
    box-sizing: border-box;
    padding: 80px 60px 40px 60px;
    display: flex;
    justify-content: center;
}

#temporaryBackground {
	background-image: url('../_assets/background.png');
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 17px;
	width: 100%;
	height: 100%;
	opacity: 0.3;
}

#innerWrapper-left {
	background-color: rgba(200, 140, 0, 0.4);
	height: 100%;
	width: 300px;
	padding: 30px;

}
#innerWrapper-right {
	background-color: rgba(255, 200, 0, 0.3);
	height: 100%;
	width: 300px;
	padding: 30px;
}
.columns {
	position: relative;
    width: 280px;
    height: 310px;
    top: 20px;
	left: 50%;
	transform: translateX(-50%);
	border: 2px solid rebeccapurple;
	padding-top: 10px;
	// display: flex;
	// flex-direction: column;
	//align-items: flex-start;
	align-content: center;
}

$transitionLasting: 0.2s;

.buttons {
	position: relative;
	width: 280px;
	height: 48px;
	border: 2px solid #000;
	left: 50%;
	transform: translateX(-50%);
	top: 50px;
	border-radius: 20px;
	background-color: #fff;
	cursor: pointer;
	
	transition: all $transitionLasting linear; 
}
.buttons::after {
	position: absolute;
	top: 14px;
	font-size: 30px;
}
.button-left::after {
	content: '>>';
	left: 40px;
}
.button-right::after {
	content: '<<';
	right: 40px;
}
.buttons:hover {
	background-color: #333;
	color: #fff;
	border: 2px solid #000;
	transition: background-color $transitionLasting*2 linear, color $transitionLasting*2 linear, border $transitionLasting*2 linear;
}